body {
	font-size:12px;
	color: #000;
}
input { COLOR:#ff6600; }
.center{
	margin: 0 auto;
}
.table002 {  border:1px #5EABD0 solid}
a:visited {
	color: #000;
	text-decoration: none;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #FFF;
	text-decoration: none;
}


#Layer1 {
	position:absolute;
	left:361px;
	top:114px;
	width:349px;
	height:197px;
	z-index:1;
	visibility: hidden;
}
.J_login_table{
	margin-top:130px;
	width:320px;
}
.J_header
{
color:#FFF;
background-color:#336699;
font-size:14px;
padding: 10px;
text-align:center;
border-bottom: 2px #DD6600 solid;
}
.J_body
{
background-color:#EFF6FE;
border: 1px solid #4C7297;
padding: 5px;
}
.J_body div
{
	margin: 5px 0 10px 0;
}
.J_left
{
display:inline-block;
width:100px;
color:#555;
text-align:right;
}
.input2
{
color:#FF0066;width:130px; height:18px; border:1px solid #6F93B7
}
.inputVCodes
{
color:#FD7801;width:60px; height:18px; border:1px solid #6F93B7
}
.button2
{
	BORDER: #FD7801 1px solid; 
	BACKGROUND:#FFF; COLOR: #000;
	padding:5px;
}
.button2:hover
{
	cursor: pointer;
	BACKGROUND:#FD7801; COLOR: #000;
}