BODY {
	margin: 0;
	padding: 0;
	color:#003399;
	font-size:14px;
	background-color: #DDD;
	SCROLLBAR-FACE-COLOR: #799ae1;
	SCROLLBAR-HIGHLIGHT-COLOR: #799ae1;
	SCROLLBAR-SHADOW-COLOR: #799ae1;
	SCROLLBAR-3DLIGHT-COLOR: #799ae1;
	SCROLLBAR-ARROW-COLOR: #FFF;
	SCROLLBAR-TRACK-COLOR: #aabfec;
	SCROLLBAR-DARKSHADOW-COLOR: #799ae1;
	width:90%
}
a {
	font-size:13px;
	COLOR: #003399;
	TEXT-DECORATION: none
}
a:hover {
	COLOR: #428eff; TEXT-DECORATION: underline
}
.sec_menu {
	width: 158px;
	background-color: #D2F0FF;
	border: 1px solid #336699;
	border-top: 0px;
}
.sec_menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.sec_menu li{
	padding: 1px 0 5px 2px;
}
.sec_menu b{
	margin-top: 3px;
	background:url('../images/bullet.gif') 0 1px;
	display:inline-block;
	width:15px;
	height:15px;
}
.sec_menu a{
	text-align:left;
}

.menu_title {

	margin: 10px 0 0 0;
	height:25px;
	width:158px;
	background:url('../images/bg.jpg');
	cursor:pointer;
	text-align:center;
	border: 1px solid #336699;
	border-bottom: 0px;
}
.menu_title SPAN {
	font-size:14px;
	font-weight: bold; 
	color: #215dc6;
	line-height:25px;
}
.menu_title2 SPAN:hover {
	COLOR: #428eff
}

.copyright {
	margin-top: 20px;
}