body{
margin:0;
padding:0;
font-size:12px;
OVERFLOW:none;
width:98%;
}
.J_pager
{
width:100%;
margin:0 auto;
text-align:center;
padding: 10px;
}
.J_pager a:link, .J_pager a:visited
{
color: #000;
border: 1px solid #FF9911;
background-color: #EEE;
padding: 5px 10px;
margin: 0 0 0 5px;
TEXT-DECORATION: none;
}

.J_page{
	width: 90%;
	margin: 0 auto;
	
}

.J_list{
	background-color: #EEE
}

.STYEL1{
	color:#000;
}