Body
{
	margin: 0;
	font-size: 12px;
	background-color: #FFF;
	color: #666;
	SCROLLBAR-FACE-COLOR: #eaeaea;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFF;
	SCROLLBAR-SHADOW-COLOR: #b9b9b9;
	SCROLLBAR-3DLIGHT-COLOR: #b9b9b9;
	SCROLLBAR-ARROW-COLOR: #666;
	SCROLLBAR-TRACK-COLOR: #eaeaea;
	SCROLLBAR-DARKSHADOW-COLOR: #FFF;
}
checkbox
{
	border: 0px;
}
Textarea
{
	background-color: #fefefe;
	border: 1px solid #555555;
}
Button
{
	background-color: #cccccc;
	border: 1px solid #555555;
}
Select
{
	background-color: #fefefe;
	border: 1px solid #555555;
}
A
{
	TEXT-DECORATION: none;
}
A:hover
{
	COLOR: #ff6600;
	text-decoration: underline;
}